@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e5e5e5;
}

.swiper-button-next,
.swiper-button-prev {
  color: #047857;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.swiper-pagination-bullet-active {
  background-color: #047857 !important;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 9999px;
  padding: 6px;
  margin: 0 4px;
  cursor: pointer;
  padding: 6px 10px;
}
